// ---------------- ABOUT
#about {
  /* .container{
    padding: 0;
  } */
  article {
    width: 60%;
  }
  .me-myself-i {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
      margin: 1rem 0;
    }
    button {
      background: $black;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
      font-size: 0.8rem;

      &:hover {
        background: $orange;
        box-shadow: $shadow-hover;
      }
    }
  }
}
