/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Comme:wght@100..900&display=swap");

$white: #fff;
$black: #1f1f1f;
$grey: #5a5a5a;
$orange: #ff9000;
$violet: #4d0c52;
$rainbow-gradient: linear-gradient(
  #ffc100 0%,
  #ffbb00 12.2891%,
  #ffaa00 24%,
  #ff9000 40%,
  #fe850e 45%,
  #fe6835 54%,
  #fe3a73 67%,
  #fe3081 70%,
  #ee2b94 79%,
  #c520c7 98%,
  #c11fcd 100%
);
$rainbow-gradient-angular: linear-gradient(
  51.02deg,
  #ee2b94 14.92%,
  #fe850e 49.99%,
  #ffc100 85.05%
);

$font-family-base: "Comme", sans-serif;
$heading-font: "Comme", sans-serif;

$shadow-soft: 0px 1px 3px rgba(0, 0, 0, 0.015);
$shadow-hover: 0px 4px 12px rgba(0, 0, 0, 0.05);
$shadow-footer: 0px -3px 5px rgba(0, 0, 0, 0.05)
