@import "vars";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "generals", "home", "about", "projects", "skills", "contact",
  "responsive";

/* Animaciones y transiciones */
.hidden {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

/* SALIDAS */
.exitLeftSection {
  transform: translateX(0);
  animation: slideOutLeft 0.6s forwards;
}

.exitRightSection {
  transform: translateX(0);
  animation: slideOutRight 0.6s forwards;
}

.exitUpSection {
  transform: translateY(0);
  animation: slideOutUp 0.6s forwards;
}

.exitDownSection {
  transform: translateY(0);
  animation: slideOutDown 0.6s forwards;
}

/* ENTRADAS */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%); // corregido: ahora sale hacia la derecha
    opacity: 0;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
