@import "vars";
@import "../node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #fafafa;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.content {
  margin: 3rem auto;
}

img {
  width: 100%;
}

section {
  height: 100vh;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
}
.subtitle {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

/* #about,
#projects,
#skills,
#contact {
  background-image: url(https://res.cloudinary.com/dpushmfs0/image/upload/v1746420295/bg_csz1sf.jpg);
  background-size: cover;
  background-position: top;
} */

// ---------------- HOME ----------------

#home {
  position: relative;
  background-image: url(https://res.cloudinary.com/dpushmfs0/image/upload/v1747269293/bg-hero_pcfgss.jpg);
  background-size: cover;
  background-position: center;
  article {
    height: 100vh;

    p {
      font-size: 1.3rem;
      font-weight: normal;
    }

    .big-signature {
      width: 16rem;
    }

    .btn-home {
      border: none;
      border-radius: 0.4rem;
      background-color: white;
      padding: 1rem;
      margin: 0.5rem;
      box-shadow: $shadow-hover;

      img {
        width: 1.5rem;
      }

      &:hover {
        background: $rainbow-gradient-angular;
        box-shadow: $shadow-hover;
      }

      .gif {
        width: 50%;
        height: 100vh;

        #eyes-gif {
          transition: opacity 0.5s ease-in-out;
        }
      }
    }
  }

  #rrss-home {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a img {
      width: 5rem;
      cursor: pointer;
    }

    #rrss-home-line {
      width: 1.5px;
      height: 5rem;
      margin: 0 2.5rem;
      background-color: black;
      border-radius: 50px;
    }
  }
}

// ---------------- SIDE MENU ----------------

.side-menu {
  padding: 0;
  height: 78vh;
  .side-menu-logo {
    width: 40%;
    height: auto;
    margin-bottom: 2rem;
  }
  div {
    height: 100%;

    ul {
      padding: 0;

      li {
        display: flex;
        align-items: baseline;
        margin: 0.5rem 0;
        list-style: none;
        font-size: 0.9rem;

        img {
          width: 1rem;
          margin-right: 1rem;
        }

        span {
          position: relative;
          z-index: 1;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            height: 3px;
            transform: scaleX(0);
            transform-origin: left;
            background: $rainbow-gradient;
            transition: transform 0.3s ease-in-out;
            z-index: -1;
          }
        }

        &.active span::after,
        &:hover span::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

// ---------------- ABOUT ----------------

#about {
  article {
    width: 60%;
  }
  .me-myself-i {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
      margin: 1rem 0;
    }
    button {
      background: $black;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
      font-size: 0.8rem;

      &:hover {
        background: $orange;
        box-shadow: $shadow-hover;
      }
    }
  }
}

// ---------------- PROJECTS ----------------
.card {
  background: #ffffff;
  padding: 0.3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 0.3rem;
  border-radius: 0;
  border: none;
  width: 32%;
  height: auto;
  filter: grayscale(100%);
  transform: scale(1);
  transition: filter 0.4s ease, transform 0.4s ease;

  box-shadow: $shadow-soft;

  h3 {
    font-size: 1rem;
    margin: 0.3rem 0 0;
  }
  p {
    font-size: 0.7rem;
    color: grey;
    padding: 0;
    margin: 0;
  }
}
.card:hover {
  filter: grayscale(0%);
  transform: scale(1.01); /* apenas más grande */
  box-shadow: $shadow-hover;
}

// ---------------- SKILLS ----------------
// ---------------- CONTACT FORM ----------------

.contact-content {
  display: flex;
  gap: 1rem;

  div {
    width: 50%;
    strong {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  #rrss-contact {
    margin-top: 3rem;
    a img {
      width: 2rem;
      cursor: pointer;
      margin-right: 2rem;
    }
  }

  form {
    width: 50%;
    height: 100%;
    background: $rainbow-gradient;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
    box-shadow: $shadow-soft;

    fieldset {
      gap: 1rem;
    }

    input,
    select,
    textarea {
      width: 100%;
      height: 2.3rem;
      font-size: 0.9rem;
      border: none;
      border-bottom: 1px solid white;
      resize: none;
      background: transparent;
      color: $black;
      transition: 0.3s ease, height 0.3s ease;
      border-radius: 0;
    }

    select {
      color: white;
      option {
        color: $black;
      }
    }

    input::placeholder,
    textarea::placeholder {
      color: white;
    }

    input:focus {
      background: white;
      border-radius: 0;
    }

    textarea {
      &.has-content,
      &:focus {
        height: 8rem;
        background: white;
        border-radius: 0;
      }
    }

    button {
      background: $black;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0;
      font-size: 0.8rem;

      &:hover {
        background: $orange;
        color: white;
        box-shadow: $shadow-hover;
      }
    }
  }
}

/* Animaciones y transiciones */
.hidden {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

/* SALIDAS */
.exitLeftSection {
  transform: translateX(0);
  animation: slideOutLeft 0.6s forwards;
}

.exitRightSection {
  transform: translateX(0);
  animation: slideOutRight 0.6s forwards;
}

.exitUpSection {
  transform: translateY(0);
  animation: slideOutUp 0.6s forwards;
}

.exitDownSection {
  transform: translateY(0);
  animation: slideOutDown 0.6s forwards;
}

/* ENTRADAS */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%); // corregido: ahora sale hacia la derecha
    opacity: 0;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* MEDIA QUERIES ----------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  html,
  body {
    height: auto;
    overflow-y: auto;
  }
  section {
    height: auto;
  }
  p {
    font-size: 1rem;
  }
  .subtitle {
    font-size: 0.9rem;
  }

  .container {
    width: 95%;
    height: auto;
    /* border-bottom: 1px solid;
    border-image: $rainbow-gradient-angular;
    border-image-slice: 1;
    padding: 0; */
  }
  h2 {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }

  #home {
    height: 100vh;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;
      border: none;

      article {
        height: auto;
        position: relative;

        .gif {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

      .big-signature {
        margin-top: 3rem;
        width: 75%;
      }
    }
  }

  #about {
    /* text-align: center; */
    .container {
      padding: 3rem 0;
      margin-top: 0;
      #about-content {
        padding: 0;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          article {
            width: 90%;
            img {
              width: 50%;
            }
          }
        }
      }
    }
    .about-heading {
      color: white;
      background-color: $black;
      margin: 0;
      padding: 2rem 0 1rem;
    }
  }

  #portfolio {
    .portfolio-heading {
      margin: 0;
      background: $rainbow-gradient-angular;
      color: white;
      padding: 2rem 0 6rem;

      z-index: 0;
    }

    .h-scroll-container {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 1rem;
      padding: 1rem;
      margin-top: -7rem;
      z-index: 1;

      -webkit-overflow-scrolling: touch;

      .card {
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: 100%;
        margin: 1.5rem 0;
        box-shadow: $shadow-hover;
        filter: none;

        h3 {
          font-size: 1.5rem;
          margin: 0.5rem 0;
        }
        p {
          font-size: 0.9rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  #skills {
    .container {
      padding-bottom: 3rem;
    }
  }

  #contact {
    .container {
      padding-bottom: 3rem;
      .contact-content {
        flex-direction: column;
        align-items: center;
        div {
          width: 100%;
        }
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          fieldset {
            width: 100%;
          }
        }
      }
    }
  }

  footer {
    padding: 1.5rem 0 0;
    z-index: 999;
    box-shadow: $shadow-footer;
    border-top: 1px solid;
    border-image: $rainbow-gradient;
    nav {
      margin-bottom: 2rem;
      a {
        text-decoration: none;
        color: $black;
      }
      img {
        width: 5rem;
        height: auto;
      }
    }
    #rrss-footer {
      margin-bottom: 1rem;
      a {
        margin: 0.5rem;
        img {
          border-radius: 100%;
          box-shadow: $shadow-soft;
        }
      }
    }
  }
}
